.menu{
    display: flex;
    justify-content: space-between;
    background-color: black;
    font-size: 30px;
    font-family: sans-serif;
    font-weight: 400;
    color: white;
}
body{
    background-color:whitesmoke;
    
}
.grid{
    display: flex;
    flex-wrap: wrap;
    font-family: sans-serif;
    
}
.grid img{
    border: 2px solid black;
    border-radius: 50px;
}
.languages {
    
    border-radius: 20px;
    background-color: white;
    
    width:310px;
    font-family: fantasy;
    
}
